---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Quiénes Somos?</Fragment>
      <Fragment slot="desc">Somos un equipo pequeño pero apasionado por la IA y la tecnología legal.</Fragment>
    </Sectionhead>

   <div class="flex flex-col gap-4 mx-auto max-w-4xl mt-16">
  <h2 class="font-boAstrold text-3xl text-gray-800">
    Buscamos ayudar a digitalizar y automatizar el mundo.
  </h2>

  <p class="text-lg leading-relaxed text-slate-500">
    Somos un equipo de profesionales que buscamos dar orden y soluciones a personas
    y organizaciones, promoviendo la automatización e inclusión de IA.
  </p>

  <p class="text-lg font-medium text-gray-700">
    Filosofía:
  </p>

  <ul class="list-disc pl-6 text-lg leading-relaxed text-slate-500 space-y-2">
    <li>
      <strong>Hazlo tú mismo:</strong> es posible que con la ayuda de la IA puedas
      resolver muchas necesidades sin ayuda de un profesional y <strong>gratis</strong>.
    </li>
    <li>
      <strong>Precios claros:</strong> si realmente necesitas ayuda de un profesional,
      siempre encontrarás el precio marcado, sin sorpresas.
    </li>
  </ul>
</div>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-sm transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
