---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Quiénes Somos?</Fragment>
      <Fragment slot="desc">Somos un equipo pequeño pero apasionado por la IA y la tecnología legal.</Fragment>
    </Sectionhead>

   <div class="flex flex-col gap-4 mx-auto max-w-4xl mt-16">
  <h2 class="font-boAstrold text-3xl text-gray-800">
    Buscamos ayudar a digitalizar y automatizar el mundo.
  </h2>

  <p class="text-lg leading-relaxed text-slate-500">
    Somos un equipo de profesionales que buscamos dar orden y soluciones a personas
    y organizaciones, promoviendo la automatización e inclusión de IA.
  </p>

  <p class="text-lg font-medium text-gray-700">
    Filosofía:
  </p>

  <ul class="list-disc pl-6 text-lg leading-relaxed text-slate-500 space-y-2">
    <li>
      <strong>Hazlo tú mismo:</strong> es posible que con la ayuda de la IA puedas
      resolver muchas necesidades sin ayuda de un profesional y <strong>gratis</strong>.
    </li>
    <li>
      <strong>Precios claros:</strong> si realmente necesitas ayuda de un profesional,
      siempre encontrarás el precio marcado, sin sorpresas.
    </li>
  </ul>
</div>

  </Container>
</Layout>
