---
import Container from "@/components/container.astro";
import Cta from "@/components/cta.astro";
import Features from "@/components/features.astro";
import Hero from "@/components/hero.astro";
import Logos from "@/components/logos.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="">
  <section class="bg-white">
    <Container>
      <Hero />
    </Container>
  </section>

  <section class="bg-slate-50 py-16">
    <Container>
      <Features />
    </Container>
  </section>

  <section class="bg-white py-16">
    <Container>
      <Logos />
    </Container>
  </section>

  <section class="bg-white py-16">
    <Container>
      <Cta />
    </Container>
  </section>
</Layout>
