<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Agiliza {new Date().getFullYear()}. El contenido de este sitio está disponible bajo una licencia CC BY 4.0. Se permite su distribución y copia siempre que se cite la fuente original.
  </p>
  <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Diseñado por <a
      href="/servicios-digitales
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Agiliza
    </a>
  </p>
</footer>
